body {
    background-color: black;
}

#titulo  {
    text-align: center;
    font-size: 50px;
    color: aliceblue;
}


.p1 {
    text-align: justify;
    font-size: 20px;
    color:black;
}

.p2 {
    text-align: justify;
    font-size: 20px;
    color:rgb(215, 211, 211);
}

#img1{
    display: block;
    margin: 0 auto;
}

#titulo2 {
    text-align: center;
    font-size: 30px;
    color:black;}

.ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 20px;
}

#img2{
    width: 50%;
}

header{
    text-align: center;
    font-size: 50px;
    color:aliceblue;
}

.principal{
    background-color: rgb(165, 153, 153);
}

.beneficios{
    background-color: rgb(255, 255, 255);
}