body {
    background-color: rgb(169, 162, 162);
}

#titulo  {
    text-align: center;
    font-size: 50px;
    color: aliceblue;
}


.p1 {
    text-align: justify;
    font-size: 40px;
    color:rgb(98, 91, 91);
}

.p2 {
    text-align: justify;
    font-size: 40px;
    color:rgb(215, 211, 211);
}

#img1{
    display: block;
    margin: 0 auto;
}

#titulo2 {
    text-align: center;
    font-size: 50px;
    color:rgb(107, 95, 95);}

.ul{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-right: 130%;
    font-size: 70px;
}

#img2{
    width: 50%;
}

header{
    text-align: center;
    font-size: 50px;
    color:aliceblue;
}

.principal{
    background-color: rgb(165, 153, 153);
}

.beneficios{
    background-color: rgb(255, 255, 255);
}